<header class="header">
  <div class="container">
    <div class="header__top">
      <a href="#" class="logo header__logo">logos</a>
      <div class="search header__search">
        <input type="text" class="search__input" placeholder="Введите адрес доставки">
        <button type="submit" class="btn-reset search__btn">
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
      <a href="tel:79175105759" class="header__phone">
        <span class="header__phone-text">Контакты:</span>
        +7 (917) 510-57-59
      </a>
      <div class="cart header__cart">
        Корзина
        <span class="cart__count">4</span>
      </div>
    </div>
  </div>
  <div class="header__image">
    <picture>
      <source srcset="img/banner-1.webp" type="image/webp">
      <img loading="lazy" src="img/banner-1.png" class="image" width="1440" height="484" alt="Фаршированный ягненок">
    </picture>
  </div>
  <div class="header__menu">
    <nav class="nav" title="Основное меню">
      <div class="container">
        <ul class="list-reset nav__list">
          <li class="nav__item active"><a href="#" class="nav__link">Холодные закуски</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Горячие закуски</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Мясные блюда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Супы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Рыбные блюда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Рыбные блюда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Гриль меню</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Фирменные блюда</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Напитки</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>